<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Logowanie - RentCar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <h1>RentCar</h1>
            </div>
            <div class="logowanie">
                <form>
                    <input name="email" type="text" placeholder="Adres E-mail"><br>
                    <input name="password" type="password" placeholder="Hasło"><br>
                    <button class="zaloguj">ZALOGUJ</button><br>
                    <a href="https://facebook.com">Zapomniałem hasła</a><br>
                    <button class="rejestracja">ZAREJESTRUJ</button><br>
                    <button class="facebook">Zaloguj z Facebook</button>
                </form>
            </div>
        </div>
    </body>
</html>